
:root {
    --red: #E50914;
    --black: #141414;
    --gray: #AAA;
    --white: #FFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--black);
}

/*HEADER*/

header{
    padding: 1rem;
}

.container {
    width: 90%;
    margin: auto;
}

.container-logo {
    color: var(--white);
    font-weight: bold;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.list-item {
    margin-right: 1rem;
}

.item-link {
    text-decoration: none;
    color: var(--white);
}

.item-link:hover,
.item-link.active{
    color: var(--gray);
}

/*MAIN*/

.main {
    background: linear-gradient(rgba(0,0,0, .5) 0%, rgba(0,0,0, .5) 100%), url(../IMG/img1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    color: var(--white);
    align-items: flex-end;
    min-height: 40rem;
    margin-bottom: 3rem;
}

.main .container {
    margin-bottom: 4rem;
}

.container-title {
    font-size: 2rem;
    color: var(--white);
}

.container-description {
    margin: 1rem 0;
}

.container-button {
    background: rgba(0, 0, 0, .90);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem;
    transition: .3s ease all;
    cursor: pointer;
}

.container-button:hover {
    background: var(--white);
    color: var(--black);
}

/*CAROUSEL*/

.recommended-cars {
    margin-bottom: 4.3rem;
}

.title-controllers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.indicators button {
    background: var(--white);
    height: 0.4rem;
    width: 0.8rem;
    cursor: pointer;
    border: none;
    margin-right: 0.4rem;
}

.indicators-button:hover,
.indicators-button.active {
    background: var(--red);
}

.container-buttons-carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.arrow-right,
.arrow-left {
    position: absolute;
    border: none;
    background: rgba(0,0,0, .3);
    font-size: 2.5rem;
    height: 50%;
    top: calc(50% -25%);
    line-height: 2.5rem;
    width: 3rem;
    color: var(--white);
    z-index: 500;
    transition: .2s ease all;
    cursor: pointer;
}

.arrow-right:hover,
.arrow-left:hover {
    background: rgba(0,0,0, .9);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.container-carousel {
    width: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
}

.container-img-cars {
    min-width: 25%;
    height: 250px;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.container-img-cars.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.img-car {
    width: 100%;
    height: 100%;
    vertical-align: top;
}